.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.wrap{
	display: table;
	width: 100%;
	height: 100%;
	.cell{
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
}

.feature-block(@color;){
	height: auto;
	background-color: @color;
	padding: 60px 0;
	@media (min-width: @screen-sm-min){
		height: calc(~"100vh - 265px");
		padding: 0;
	}
	a{
		color: white;
		background: rgba(0, 0, 0, 0.21);
		border-radius: 15px;
		padding: 10px;
		width: 100px;
		display: block;
		margin: auto;
		font-family: 'Merriweather Sans', sans-serif;
		font-weight: 700;
		text-decoration: none;
		transition: background-color 100ms ease-in-out;
		&:hover{
			background: rgba(0, 0, 0, 0.6);
		}
	}
	h3{
		margin-bottom: 30px;
		letter-spacing: 1px;
	}

	img{
		width: 150px;
		@media (min-width: @screen-sm-min){
			width: 100px;
		}
	}
}