body {
	-webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
	margin: 0;
	padding: 0;
	background-color: white;
}

h1 {
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4{
	color: white;
	font-weight: bold;
	font-family: 'Titan One', cursive;
}

p{
	font-size: 16px;
	font-family: 'Merriweather Sans', sans-serif;
}

.type-sm--fluid{
	@media (max-width: @screen-sm-max) {
		width: 100%;
		padding:0;
	}
}


/************************

		HEADER

************************/

.logo{
	background: url(../img/logo.svg) no-repeat; 
	width: 180px;
    height: 130px;
    display: block;
	margin: 20px auto;
	
	@media (min-width: @screen-sm-min){
    	display: inline-block;
	}

    @media (min-width: @screen-md-min){
    	width: 240px;
    	height: 165px;
	}

	a{
		color: transparent;
		display: block;
		height: 130px;
		overflow: hidden;
		@media (min-width: @screen-sm-min){
    		height: 165px;
		}
	}
}
.menu{
	display: inline-block;
	float: right;
}

.menu{
	display: none;
	@media (min-width: @screen-sm-min){
		display:block;
	}
}
.nav{
	margin: 0;
	list-style-type: none;
	display: table;
	height: 140px;
	padding-left: 0;
	@media (min-width: @screen-md-min){
		height: 205px;
	}
	li{
		display: table-cell;
		vertical-align: middle;
		a{
			margin: 0px;
			padding: 10px 5px;
			color: @menu-color;
			text-decoration: none;
			font-family: 'Merriweather Sans', sans-serif;
			font-weight: 700;
			font-size: 12px;
			&:hover{
				border-radius: 20px;
				color: white;
			}
			@media (min-width: @screen-md-min){
				margin:0 5px;
				padding: 10px;
				font-size: 14px;
			}
			@media (min-width: @screen-lg-min){
				margin:0 16px;
				padding: 10px;
				font-size: 14px;
				letter-spacing:1.2px;
			}
		}
	}
	li:last-child{
		a{
			margin-right: 0;
		}
	}
}

.nav--mobile{
	padding: 0;
	margin: 0;
	margin-top: 200px;
	list-style-type: none;
	li{
		display: block;
		a{
			margin: 5px 15px;
			padding: 10px;
			color: @blue;
			text-decoration: none;
			font-family: 'Merriweather Sans', sans-serif;
			font-weight: 700;
			display: block;
    		text-align: center;
    		font-size: 25px;
    		&:hover{
    			border-radius: 20px;
    			color: white;
    		}
		}
	}
}

.transition{
  /* This is !important to include */
  -webkit-transition: -webkit-transform .2s; 
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.page-wrap{
  padding: 50px 60px;
  overflow: hidden;
  .transition;
}

.offcanvas-expanded{
  .page-wrap{
    /* This is !important to include */
    -webkit-transform: translateX(320px); 
    -ms-transform: translateX(320px); 
    transform: translateX(320px);
  }
}

.offcanvas{
  /* This is !important to include */
  width: 320px; 
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  background: white;
  z-index: 99;
  -webkit-transform: translateX(-320px); 
  -ms-transform: translateX(-320px); 
  transform: translateX(-320px);
  .transition;

}

.offcanvas-expanded{
  .offcanvas{
    /* This is !important to include */
    -webkit-transform: translateX(0); 
    -ms-transform: translateX(0); 
    transform: translateX(0);
  }
}

#nav-toggle { 
	cursor: pointer; 
	padding: 10px 35px 16px 0px; 
	position: absolute;
	top: 25px;
	right: 20px;
	display: block;
	@media (min-width: @screen-sm-min){
		display: none;
	}

}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 4px;
  width: 25px;
  background: @blue;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: -8px; 
}
#nav-toggle span:after {
  bottom: -8px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 300ms ease-in-out;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}
/************************

		colors

************************/
.features_item_yellow{
	.feature-block(@yellow);
}
.features_item_orange{
	.feature-block(@orange);
}
.features_item_blue{
	.feature-block(@blue);
}
.features_item_green{
	.feature-block(@green);
}

.nav--blue{
	.active{
		color: white;
		border-radius: 20px;
		background-color:@blue;
	}
}

.nav--yellow{
	.active{
		color: white;
		border-radius: 20px;
		background-color:@yellow;
	}
}

.nav--green{
	.active{
		color: white;
		border-radius: 20px;
		background-color:@green;
	}
}

.nav--orange{
	.active{
		color: white;
		border-radius: 20px;
		background-color:@orange;
	}
}

.link_blue:hover{
	background-color: @blue;
}

.link_orange:hover{
	background-color: @orange;
}
.link_green:hover{
	background-color: @green;
}

.link_yellow:hover{
	background-color: @yellow;
}
/************************

		onama

************************/
.gallery_content{
	img{
		width: 100%;
	}
}

.about_content{
	margin-bottom: 50px;
	margin-top: 30px;
}
.about_content--text{
	width: initial;
	margin: auto;
	margin-top: 30px;
	color: #212121;
	padding: 0 15px;
	@media (min-width: @screen-md-min){
		width: 50%;
		padding: 0;
	}
}


/************************

		  PAGE

************************/
.page{
}

.page_theme{
	color: white;
	display: inline-block;
	width: 100%;
	padding: 50px 0;
	@media (min-width: @screen-sm-min){
		padding: 0;
	}
}

.page_theme--subject{
	height: auto;
	@media (min-width: @screen-sm-min){
		height: 500px;
		padding-top: 0;
	}
	img{
		width: 150px;
		@media (min-width: @screen-sm-min){
			width: 200px;
		}
	}
	h1{
		margin-top: 0;
		@media (min-width: @screen-sm-min){
			font-size: 30px;
		}
		@media (min-width: @screen-md-min){
			font-size: 36px;
		}
		@media (min-width: @screen-md-min){
			font-size: 44px;
		}
	}
}

.page_theme--content{
	height: auto;
	@media (min-width: @screen-sm-min){
		height: 500px;
	}
	.cell{
		text-align: center;
		@media (min-width: @screen-sm-min){
			text-align: left;
		}
	}
	p{
		margin-bottom: 30px;
		padding-left: 15px;
		padding-right: 15px;
		@media (min-width: @screen-sm-min){
			padding: 0;
		}
	}
	h4{
		font-size: 22px;
	}
	
}

.page_info{
	margin-top: 50px;
	p{
		color: #212121;
		margin-bottom: 30px;
		font-size: 15px;
		line-height: 25px;
		letter-spacing: 0.2px;
	}
}

.page_images{
	img{
		width: 100%;
		margin-bottom: 50px;
	}
}
/************************

		contact

************************/
.contact_info{
	text-align: center;
	padding-top: 50px;
	@media (min-width: @screen-sm-min){
			padding-top: 0px;
			text-align: left;
		}
	p{
		margin-bottom: 20px;
		padding-left: 15px;
		color: @blue;
		font-size: 18px;
		line-height: 28px;	
		strong{
			letter-spacing: 1px;
		}
		@media (min-width: @screen-md-min){
			margin-top: 50px;
		}
	}
	h3 {
		color: @blue;
		font-family: 'Merriweather Sans', sans-serif;
		font-weight: initial;
		padding-left: 15px;
		line-height: 28px;
		@media (min-width: @screen-md-min){
			margin-top: 50px;
		}
	}
	em{
		line-height: 30px;
	}

}

.map{
	height: 300px;
	padding:25px 0;
	@media (min-width: @screen-md-min){
		height: 100%;
		padding: 0;
	}
}

/************************

		FOOTER

************************/
footer{
	p{
		margin:0;
		padding: 20px 0;
		color: @blue;
		text-align: center;
		font-size: 14px;
		@media (min-width: @screen-md-min){
			text-align: right;
		}
	}
}

.stripe{
	border-top: 1px solid @blue;
	margin-top: 50px;
}